/******************\
| BOARD FORMATTING |
\******************/

.row {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.square {
  width: min(64px, 5vw);
  height: min(64px, 5vw);
  margin: 0px;
  padding: 0px;
  display: inline;
}


/******************\
| PIECE FORMATTING |
\******************/

.piece {
  width: min(64px, 5vw);
  height: min(64px, 5vw);
  margin: 0;
  padding: 0px;
  
  position: absolute;
  image-rendering: pixelated;
}


/*******************\
| INITIAL POSITIONS |
\*******************/

#blackrook1 {
  margin-left: 0px;
  margin-top: 0px;
}

#blackknight1 {
  margin-left: min(64px, 5vw);
  margin-top: 0px;
}

#blackbishop1 {
  margin-left: min(128px, 10vw);
  margin-top: 0px;
}

#blackking {
  margin-left: min(192px, 15vw);
  margin-top: 0px;
}

#blackqueen {
  margin-left: min(256px, 20vw);
  margin-top: 0px;
}

#blackbishop2 {
  margin-left: min(320px, 25vw);
  margin-top: 0px;
}

#blackknight2 {
  margin-left: min(384px, 30vw);
  margin-top: 0px;
}

#blackrook2 {
  margin-left: min(448px, 35vw);
  margin-top: 0px;
}


#blackpawn1 {
  margin-left: 0px;
  margin-top: min(64px, 5vw);
}

#blackpawn2 {
  margin-left: min(64px, 5vw);
  margin-top: min(64px, 5vw);
}

#blackpawn3 {
  margin-left: min(128px, 10vw);
  margin-top: min(64px, 5vw);
}

#blackpawn4 {
  margin-left: min(192px, 15vw);
  margin-top: min(64px, 5vw);
}

#blackpawn5 {
  margin-left: min(256px, 20vw);
  margin-top: min(64px, 5vw);
}

#blackpawn6 {
  margin-left: min(320px, 25vw);
  margin-top: min(64px, 5vw);
}

#blackpawn7 {
  margin-left: min(384px, 30vw);
  margin-top: min(64px, 5vw);
}

#blackpawn8 {
  margin-left: min(448px, 35vw);
  margin-top: min(64px, 5vw);
}
