/******************\
| BOARD FORMATTING |
\******************/

.row {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.square {
  width: min(64px, 5vw);
  height: min(64px, 5vw);
  margin: 0px;
  padding: 0px;
  display: inline;
}


/******************\
| PIECE FORMATTING |
\******************/

.piece {
  width: min(64px, 5vw);
  height: min(64px, 5vw);
  margin: 0;
  padding: 0px;
  
  position: absolute;
  image-rendering: pixelated;
}
