/******************\
| BOARD FORMATTING |
\******************/

.square {
  margin: 0;
  width: min(200px, 10vw);
  height: min(200px, 10vw);
  padding: 0px;
}

.light {
  background-image: url('../files/chess/LightSquare.png');
}

.dark {
  background-image: url('../files/chess/DarkSquare.png');
}

/******************\
| PIECE FORMATTING |
\******************/

.piece {
  margin: 0;
  width: min(200px, 10vw);
  height: min(200px, 10vw);
  padding: 0px;
  
  position: absolute;
}

.blackking {
  background-image: url('../files/chess/BlackKing.png');
}
