
/*********\
| SCREENS |
\*********/

.level-1-screen {
  width: 50%;
  height: 50%;
}



/***********\
| RULE BOOK |
\***********/

.rule-book {
  width: 10vw;
  height: 15vw;
  background-color: #AA3344;
}

.right-page {
  
}

.left-page {
  
}
