/* While having a single css file would reduce the 
number of HTTP requests necessary to load the page, 
it is significantly easier to develop with multiple 
files, especially for styles that are only used on 
a single page */

/******************\
| FOR CLASSES PAGE |
\******************/

.semester-block {
  
}

.semester-title {
  font-size: 50px;
  color: #2233EE;
  cursor: pointer;
  margin: 20px 0px 15px 0px;
}

.class-list {
  overflow: hidden;
}

.class {
  
}

.class-title {
  height = 50px;
  font-size: 32px;
  cursor: pointer;
  margin: 10px 0px 10px 10px;
}

.class-description {
  height: 0px;
  font-size: 24px;
  overflow: hidden;
  margin: 10px 0px 10px 20px;
}
