html {
  font-family: sans-serif;
}

h1 {
  color: #FF0000;
  
  font-size: 50px;
}

div {
  width: 100%;
}

.header-button {
  display: inline-block;
  
  color: #F0F0F0;
  background-color: #209EFF;
  
  font-size: 20px;
  
  text-align: center;
  padding = 20px;
  border: 2px solid #1155DD;
  margin: 0px 0px 20px 0px;
}

.banner {
  color: #F0F0F0;
  background-color: #209EFF;
  
  font-size: 100px;
  
  text-align: center;
  padding = 150px;
  margin: 0 auto;
}

.banner-text {
  position: absolute;
  top: 150px;
  left: 50%
  
  color: #F0F0F0;
  
  font-size: 100px;
  
  text-align: center;
}

.banner-image {
  position: relative;
  max-width: 100%;
}
