html {
  font-family: sans-serif;
}

h1 {
  color: #1F75FF;
  
  font-size: 30px;
}

.banner {
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  background-color: #1F75FF;
  
  font-size: 100px;
  
  text-align: justify;
  padding = 20px;
  margin: 0 auto;
}
